
main {
  & > div.row {
    $displayHeight: 400px;
    width: 100%;
    height: $displayHeight;
    margin: 0;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: $displayHeight;
      .ornament {
        $ornamentWidth: 300px;
        width: $ornamentWidth;
        height: $displayHeight;
        .art-box {
          width: $ornamentWidth;
          height: 300px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          position: relative;
          .line-container {
            position: absolute;
            display: inline-flex;
            [class*='inner-div'] {
              width: 50%;
              height: 100%;
            }
          }
        }
        .btn-box {
          width: $ornamentWidth;
          height: 200px;
        }
      }
    }
  }
}
